---
layout: default
---

<div class="posts">
  {% for post in site.posts %}
  <div class="post">
    <h1 class="post-title"><a href="{{ post.url }}">{{ post.title }}</a></h1>
    <span class="post-meta">{{ post.date | date_to_string | downcase }}</span>

      {% if post.vimeo-id %}
         <div class="video-container">
           <iframe src="//player.vimeo.com/video/{{ post.vimeo-id }}?byline=0&amp;portrait=0" width="560" height="315" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
        </div>
      {% elsif post.youtube-id %}
       <div class="video-container">
          <iframe width="560" height="315" src="//www.youtube.com/embed/{{ post.youtube-id }}" frameborder="0" allowfullscreen></iframe>
       </div>
      {% endif %}

      {{ post.content }}
      
  </div>
  {% endfor %}
</div>
